.color-purple-light {
  color: #8D01C4; }

.color-purple-dark {
  color: #590297; }

.color-gray {
  color: #565656; }

.color-white {
  color: white; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.clearfix:before, .centerColumn:before, .section:before, #who .usersWrapper:before, #footer .stats:before,
.clearfix:after,
.centerColumn:after,
.section:after,
#who .usersWrapper:after,
#footer .stats:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .centerColumn:after, .section:after, #who .usersWrapper:after, #footer .stats:after {
  clear: both; }

html, body {
  font-family: "myriad-pro", sans-serif;
  font-size: 10px; }

.font-domus {
  font-family: "jaf-domus-titling-web", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

p {
  font-size: 1.5rem;
  line-height: 2.22em;
  font-weight: 400;
  margin-top: 0; }

.emphasis {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.77em; }

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  min-width: 1000px; }

* {
  box-sizing: border-box; }

.animatedAll, .section.purple:before, #header .logo, #header .bgImage {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; }

.relFloat, .half, .third, #how .how--left, #how .how--righ {
  position: relative;
  float: left; }

.centerColumn {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

.half {
  width: 50%; }

.third {
  width: 33.3333%; }

.padded {
  padding: 0 15px; }

.section {
  overflow-x: hidden;
  position: relative;
  width: 100%; }
  .section.purple {
    color: white; }
    .section.purple:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #8D01C4;
      z-index: -1;
      width: 88%; }
    .section.purple.right:before {
      right: 0; }
    .section.purple.left:before {
      left: 0; }
  .section .title {
    color: #8D01C4;
    font-size: 4.3rem;
    font-weight: 800;
    margin-bottom: 2.5rem; }
  .section.purple .title {
    color: #fff; }

#header {
  padding: 130px 0;
  overflow: hidden; }
  #header .logo {
    margin: 0 0 100px; }
  #header p {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7); }
  #header .bgImage {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    max-width: 40%;
    min-width: 600px; }
  #header .bgClaims {
    pointer-events: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: -15%;
    text-align: center;
    font-size: 16rem;
    line-height: 0.75em;
    font-weight: 800;
    color: #590297;
    opacity: 0.07; }
  #header .content {
    position: relative;
    z-index: 2; }

#why {
  padding: 95px 0 110px; }
  #why .stats {
    text-align: center;
    margin-top: 6rem; }
    #why .stats .num {
      font-size: 6rem;
      font-weight: 800;
      margin-bottom: .3em; }
    #why .stats .label {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.8; }

#how {
  overflow: visible;
  z-index: 2; }
  #how .how--left {
    width: 45%; }
  #how .how--righ {
    width: 55%; }
  #how .raised {
    position: relative;
    margin: -2rem 0 10rem;
    display: inline-block;
    padding: 8rem 7rem 12rem;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08), 16px 16px 40px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08), 16px 16px 40px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08), 16px 16px 40px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    color: #565656; }
    #how .raised .emphasis {
      margin: 5rem 0; }
    #how .raised > *:last-child {
      margin-bottom: 0; }
  #how .usersIcon {
    margin-top: 18rem;
    max-width: 30%; }

#who {
  padding: 8rem 0 16rem; }
  #who .usersWrapper {
    margin-top: 6rem; }
    #who .usersWrapper .user--icon {
      max-width: 43%; }
    #who .usersWrapper .user--title {
      font-size: 3.8rem;
      margin: 2rem 0 1rem; }
    #who .usersWrapper .user--info {
      font-size: 2rem;
      line-height: 1.77em;
      font-weight: 600; }

#footer {
  padding: 10rem 0 16rem;
  position: relative;
  text-align: center; }
  #footer .stats {
    padding: 0 4rem;
    margin: 3rem 0 8rem;
    text-align: center;
    color: #8D01C4; }
    #footer .stats .entry {
      margin: 4rem 0; }
      #footer .stats .entry .num {
        font-size: 9rem;
        font-weight: 800;
        margin-bottom: -.1em; }
      #footer .stats .entry .label {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.8em; }
  #footer .logo {
    display: inline-block;
    margin: 0 auto 64px;
    max-width: 15%; }
  #footer .copy {
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #565656;
    margin: 2.7rem; }

@media (max-width: 1500px) {
  html, body {
    font-size: 9px; }

  .centerColumn {
    max-width: 85%; }

  .section.purple:before {
    width: 95%; }

  #how .usersIcon {
    margin-top: 10rem; } }
@media (max-width: 1200px) {
  .centerColumn {
    padding: 0 15px; }

  .centerColumn > .padded:first-child {
    padding-left: 0; }

  .centerColumn > .padded:last-child {
    padding-right: 0; }

  .section.purple:before {
    width: 100%; }

  .how--left {
    width: 55% !important; }

  .how--righ {
    width: 45% !important; } }

/*# sourceMappingURL=style.css.map */
