::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.clearfix:before, .centerColumn:before, .section:before, #who .usersWrapper:before, #footer .stats:before,
.clearfix:after,
.centerColumn:after,
.section:after,
#who .usersWrapper:after,
#footer .stats:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .centerColumn:after, .section:after, #who .usersWrapper:after, #footer .stats:after {
  clear: both; }

html, body {
  font-family: "myriad-pro", sans-serif;
  font-size: 10px; }

.font-domus {
  font-family: "jaf-domus-titling-web", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

p {
  font-size: 1.8rem;
  line-height: 2.22em;
  font-weight: 400;
  margin-top: 0; }

.emphasis {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.7em; }

.font-tight {
  letter-spacing: -0.05em; }

.color-purple-light {
  color: #8D01C4; }

.color-purple-dark {
  color: #590297; }

.color-gray {
  color: #565656; }

.color-white {
  color: white; }

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  min-width: 1000px; }

* {
  box-sizing: border-box; }

.animatedAll, .section.purple:before {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; }

.relFloat, .col--half, .col--third, .col--narrow, .col--wide {
  position: relative;
  float: left; }

.absBlock, #how .how--map .how--head--wrap {
  position: absolute;
  display: block; }

.pulseCircle {
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  background-color: #8D01C4;
  opacity: .4; }

.centerColumn {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

.col--half {
  width: 50%; }

.col--third {
  width: 33.3333%; }

.col--narrow {
  width: 45%; }

.col--wide {
  width: 55%; }

.padded {
  padding: 0 15px; }

.section {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  background: #fff; }
  .section.purple {
    color: white; }
    .section.purple:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #8D01C4;
      z-index: -1;
      width: 88%; }
    .section.purple.right:before {
      right: 0; }
    .section.purple.left:before {
      left: 0; }
  .section .title {
    color: #8D01C4;
    font-size: 4.3rem;
    font-weight: 800;
    margin-bottom: 2.5rem; }
  .section.purple .title {
    color: #fff; }

#pager {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  #pager .page {
    position: relative;
    padding: 16px;
    cursor: pointer;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center; }
    #pager .page:after {
      display: block;
      content: '';
      width: 12px;
      height: 12px;
      left: 50%;
      background-color: #8D01C4;
      border-radius: 100%;
      -webkit-transform: scale(0.3333);
      -moz-transform: scale(0.3333);
      transform: scale(0.3333);
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out; }
    #pager .page.inverse:after {
      background-color: #fff; }
    #pager .page:hover:after, #pager .page.active:after {
      -webkit-transform: none;
      -moz-transform: none;
      transform: none; }

#header {
  z-index: 1;
  padding: 50px 0 120px;
  overflow: hidden;
  min-height: 90vh; }
  #header .note {
    text-align: center;
    color: #8D01C4;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 5rem; }
  #header .logo {
    margin: 0 0 100px; }
  #header p {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7); }
  #header .hand {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    max-width: 35%;
    min-width: 350px;
    -webkit-transform: translate(100%, 0) scale(1.3) translate3d(0px, 0px, 0px);
    -moz-transform: translate(100%, 0) scale(1.3) translate3d(0px, 0px, 0px);
    transform: translate(100%, 0) scale(1.3) translate3d(0px, 0px, 0px);
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    transform-origin: bottom; }
  #header .bgClaims {
    pointer-events: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: -10%;
    text-align: center;
    font-size: 16rem;
    line-height: 0.75em;
    font-weight: 800;
    color: #590297;
    opacity: 0.07; }
  #header .content {
    position: relative;
    z-index: 2; }
  #header .mouse {
    position: absolute;
    margin: 0 auto;
    bottom: 50px;
    left: 50%; }

#why {
  z-index: 2;
  padding: 95px 0 110px; }
  #why .stats {
    text-align: center; }
    #why .stats .num {
      font-size: 8.3rem;
      font-weight: 800;
      line-height: 2.5em;
      margin-bottom: -.5em; }
    #why .stats .label {
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 1.5; }
  #why #why--num {
    font-size: 2.5em;
    display: block;
    margin-bottom: -.3em; }

#how {
  z-index: 3;
  min-height: 70vh;
  overflow: visible; }
  #how .raised {
    position: relative;
    margin: -2rem 0 10rem;
    display: inline-block;
    padding: 8rem 7rem 12rem;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.03), 16px 16px 40px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.03), 16px 16px 40px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.03), 16px 16px 40px 0px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    color: #565656; }
    #how .raised .emphasis {
      margin: 5rem 0; }
    #how .raised > *:last-child {
      margin-bottom: 0; }
  #how .how--map {
    position: relative;
    display: inline-block;
    margin: 14rem auto 0;
    color: #8D01C4;
    min-width: 100%; }
    #how .how--map img {
      display: block; }
    #how .how--map .how--house {
      min-width: 100%; }
    #how .how--map .how--head--wrap {
      bottom: 12%;
      left: 12%;
      text-align: center; }
      #how .how--map .how--head--wrap .pulseCircle {
        font-size: 10rem;
        z-index: 1;
        top: 49%; }
      #how .how--map .how--head--wrap .how--head--head,
      #how .how--map .how--head--wrap .how--head--logo {
        position: relative;
        margin: 16px auto 0;
        z-index: 2; }
    #how .how--map .how--house--devices {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      #how .how--map .how--house--devices .device {
        position: absolute; }
        #how .how--map .how--house--devices .device .img {
          width: 37px;
          height: 37px;
          margin: 0 auto;
          background: transparent url("../img/how--device.png") no-repeat center center; }
          #how .how--map .how--house--devices .device .img .pulseCircle {
            font-size: 4em; }
      #how .how--map .how--house--devices .label {
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: "jaf-domus-titling-web", sans-serif;
        white-space: nowrap;
        margin: 0.5em;
        text-align: center; }

#who {
  z-index: 4;
  padding: 8rem 0 16rem; }
  #who .usersWrapper {
    margin-top: 6rem; }
    #who .usersWrapper .user--icon {
      max-width: 43%;
      height: 158px; }
    #who .usersWrapper .user--title {
      font-size: 3.8rem;
      margin: 2rem 0 1rem; }
    #who .usersWrapper .user--info {
      font-size: 2rem;
      line-height: 1.77em;
      font-weight: 600; }

#footer {
  z-index: 5;
  padding: 10rem 0 16rem;
  position: relative;
  text-align: center; }
  #footer .stats {
    padding: 0 4rem;
    margin: 3rem 0 8rem;
    text-align: center;
    color: #8D01C4; }
    #footer .stats .entry {
      margin: 4rem 0; }
      #footer .stats .entry .num {
        font-size: 9rem;
        font-weight: 800;
        margin-bottom: -.1em; }
      #footer .stats .entry .label {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.8em; }
  #footer .logo {
    display: inline-block;
    margin: 0 auto 64px;
    max-width: 15%; }
  #footer .copy {
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #565656;
    margin: 2.7rem; }

@media (max-width: 1500px) {
  html, body {
    font-size: 9px; }

  .centerColumn {
    max-width: 85%; }

  .section.purple:before {
    width: 95%; }

  #how .how--map {
    margin-top: 10rem;
    transform: scale(0.75); } }
@media (max-width: 1200px) {
  .centerColumn {
    padding: 0 15px; }

  .centerColumn > .padded:first-child {
    padding-left: 0; }

  .centerColumn > .padded:last-child {
    padding-right: 0; }

  .section.purple:before {
    width: 100%; }

  #pager {
    left: 0; } }
.color-purple-light {
  color: #8D01C4; }

.color-purple-dark {
  color: #590297; }

.color-gray {
  color: #565656; }

.color-white {
  color: white; }

#boot {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff; }

#boot--logo {
  position: absolute;
  height: 113px;
  top: 50%;
  left: 50%;
  width: 342px;
  font-size: 0;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  #boot--logo > span {
    position: relative;
    display: inline-block;
    height: 113px;
    background-image: url("../img/logo--sprite.png");
    background-repeat: no-repeat;
    opacity: 0.4;
    -webkit-transform: scale(0) translate3d(0px, 0px, 0px);
    -moz-transform: scale(0) translate3d(0px, 0px, 0px);
    transform: scale(0) translate3d(0px, 0px, 0px); }
    #boot--logo > span + span {
      margin-left: -4.5%; }
  #boot--logo .a1 {
    width: 109px;
    background-position: 0 0; }
  #boot--logo .i {
    width: 70px;
    background-position: -109px 0; }
  #boot--logo .v {
    width: 111px;
    background-position: -179px 0; }
  #boot--logo .a2 {
    width: 109px;
    background-position: -290px 0; }
  #boot--logo .sub {
    width: 171px;
    height: 20px;
    background: url("../img/logo--sprite.png") no-repeat 0 100%;
    margin: 6rem auto 0;
    opacity: 0;
    -webkit-transform: scale(0.9) translate3d(0px, 0px, 0px);
    -moz-transform: scale(0.9) translate3d(0px, 0px, 0px);
    transform: scale(0.9) translate3d(0px, 0px, 0px); }

.color-purple-light {
  color: #8D01C4; }

.color-purple-dark {
  color: #590297; }

.color-gray {
  color: #565656; }

.color-white {
  color: white; }

@keyframes mousewheelWiggle {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%); }
  100% {
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    transform: translateY(80%); } }
.mouse {
  position: relative;
  display: block;
  width: 27px;
  height: 45.9px;
  border-radius: 13.5px;
  background-color: transparent;
  border: 1px solid #8D01C4;
  zoom: 1.01; }
  .mouse:after {
    display: block;
    position: absolute;
    content: '';
    width: 2px;
    height: 6.75px;
    top: 10.8px;
    left: 50%;
    margin-left: -1px;
    background-color: #8D01C4;
    border-radius: 2px;
    zoom: 1.01;
    -webkit-animation: mousewheelWiggle 0.6s infinite alternate;
    -moz-animation: mousewheelWiggle 0.6s infinite alternate;
    animation: mousewheelWiggle 0.6s infinite alternate; }

/*# sourceMappingURL=style.css.map */
