.logo--static {
    &:before, &:after {
        display: block;
        content: '';
        background: url('../img/logo--header--sprite.png') no-repeat;
    }

    &:before {
        width: 142px;
        height: 46px;
        margin-bottom: 16px;
        background-position: 0 0;
    }

    &:after {
        width: 172px;
        height: 20px;
        background-position: 0 -46px;
    }
}
