@import "../mixins";
@import "../colors";

@keyframes mousewheelWiggle {
    0%   { @include transform(translateY(0%)); }
    100% { @include transform(translateY(80%)); }
}

.mouse {
    $w: 27px;

    position: relative;
    display: block;
    width: $w;
    height: $w * 1.7;
    border-radius: $w / 2;

    background-color: transparent;
    border: 1px solid $purple-light;
    zoom: 1.01; // Improves sharpness

    &:after {
        display: block;
        position: absolute;
        content: '';
        width: 2px;
        height: $w / 4;
        top: $w / 2.5;
        left: 50%;
        margin-left: -1px;
        background-color: $purple-light;
        border-radius: 2px;
        zoom: 1.01; // Improves sharpness

        -webkit-animation: mousewheelWiggle 0.6s infinite alternate;
           -moz-animation: mousewheelWiggle 0.6s infinite alternate;
                animation: mousewheelWiggle 0.6s infinite alternate;
    }
}
