$purple-light: #8D01C4;
$purple-dark: #590297;
$gray: #565656;

.color-purple-light { color: $purple-light; }
.color-purple-dark { color: $purple-dark; }
.color-gray { color: $gray; }
.color-white { color: white; }
