@import "colors";
@import "mixins";

$minWidth: 1000px;

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    min-width: $minWidth;
}
* {
    box-sizing: border-box;
}


// Base classes

.animatedAll {
  -webkit-transition: all 150ms ease-in-out;
     -moz-transition: all 150ms ease-in-out;
          transition: all 150ms ease-in-out;
}
.relFloat { position: relative; float: left; }
.absBlock { position: absolute; display: block; }


// General Layouting

.centerColumn {
    @extend .clearfix;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.col--half { @extend .relFloat; width: 50%; }
.col--third { @extend .relFloat; width: 33.3333%; }
.col--narrow { @extend .relFloat; width: 45%; }
.col--wide { @extend .relFloat; width: 55%; }

.padded {
    padding: 0 15px;
}


// Sections (+individuals)
.section {
    @extend .clearfix;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    background: #fff;

    &.purple {
        color: white;

        &:before {
            @extend .animatedAll;
            display: block;
            content: '';
            position: absolute;
            top: 0; bottom: 0;
            background-color: $purple-light;
            z-index: -1;
            width: 88%;
        }

        &.right:before { right: 0; }
        &.left:before { left: 0; }
    }

    .title {
        color: $purple-light;
        font-size: 4.3rem;
        font-weight: 800;
        margin-bottom: 2.5rem;
    }
    &.purple .title { color: #fff; }
}

#pager {
    $animatedCount: 5;
    $size: 32px;

    position: fixed;
    z-index: 999;
    top: 30%;
    left: 5%;
    padding: 16px 0;
    background-color: rgba(255, 255, 255, .85);

    .page {
        position: relative;
        padding: $size / 2;
        cursor: pointer;

        &:after {
            display: block;
            content: '';

            width: 12px;
            height: 12px;
            left: 50%;

            background-color: $purple-light;
            border-radius: 100%;

            @include transform(scale(0.3333));
            @include transition(all 250ms ease-in-out);
        }

        &:hover:after,
        &.active:after {
            @include transform(none);
        }

        opacity: 0;
        @include transform(scale(0));
        @include transformOrigin(center center);
        @include transition(all 600ms ease-in-out);
    }

    &.in .page {
        opacity: 1;
        @include transform(none);
    }

    // Staggered delay of pages transition
    // Only 5 items will staggered, rest goes together
    .page:nth-child(n + #{$animatedCount + 1}) {
        @include transitionDelay(0.1s * $animatedCount);
    }

    @for $i from 1 through $animatedCount {
        .page:nth-child(#{$i}) {
            @include transitionDelay(0.1s * $i);
        }
    }
}


#header {
    z-index: 1;
    padding: 50px 0 120px;
    overflow: hidden;

    .note {
        text-align: center;
        color: $purple-light;
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 5rem;
    }

    .logo {
        @extend .animatedAll;
        margin: 0 0 100px;
    }
    p {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    }

    .hand {
        pointer-events: none;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        max-width: 35%;
        min-width: 350px;

        @include transform(translate(65%, 0) scale(1.3));
        @include transformOrigin(bottom);
        @include transition(transform 600ms ease-in-out);
    }

    .bgClaims {
        pointer-events: none;
        list-style-type: none;
        padding: 0;
        margin: 0;

        position: absolute;
        bottom: 0;
        right: -10%;

        text-align: center;
        font-size: 16rem;
        line-height: 0.75em;
        font-weight: 800;

        color: $purple-dark;
        opacity: 0.07;
    }

    .content { position: relative; z-index: 2; }

    .mouse {
        position: absolute;
        margin: 0 auto;
        bottom: 50px;
        left: 50%;

        @include transition(all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275));
        @include transform(translate(0, 250%));
    }


    // Slide-in the hand image
    &.show-hand .hand { @include transform(none); }

    // Slide-in the mouse "image"
    &.show-mouse .mouse { @include transform(none); }
}

#why {
    z-index: 2;
    padding: 95px 0 110px;

    .stats {
        text-align: center;

        .num {
            font-size: 8.3rem;
            font-weight: 800;
            line-height: 2.5em;
            margin-bottom: -.5em;
        }
        .label {
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.5;
        }
    }

    // The number itself
    #why--num {
        font-size: 2.5em;
        display: block;
        margin-bottom: -.3em;
    }
}

#how {
    z-index: 3;
    $devicesCount: 5;

    // Raised box overflows the top edge
    overflow: visible;

    .raised {
        position: relative;
        margin: -2rem 0 10rem;

        display: inline-block;
        padding: 8rem 7rem 12rem;

        $s: 0px 0px 20px 0px rgba(0, 0, 0, 0.08),
            16px 16px 40px 0px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: $s;
           -moz-box-shadow: $s;
                box-shadow: $s;
        background-color: #fff;
        color: $gray;

        .emphasis {
            margin: 5rem 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    .how--map {
        position: relative;
        display: inline-block;
        margin: 14rem auto 0;
        color: $purple-light;
        min-width: 100%;

        img { display: block; }

        .how--house {
            min-width: 100%;
        }

        .how--head--wrap {
            @extend .absBlock;
            bottom: 12%;
            left: 12%;
            text-align: center;

            // - Animated circle under the images
            // - Won't be shown by default
            &:after {
                @include pulseCircle(9em, 9em, $purple-light);
                z-index: 1;
                display: none;
                content: '';
                top: 49%;
            }

            // - Over the animated circle
            // - Both animated from top + opacity
            .how--head--head,
            .how--head--logo {
                position: relative;
                margin: 16px auto 0;
                z-index: 2;
            }
        }

        .how--house--devices {
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;

            // Device wrapper
            .device {
                position: absolute;

                .img {
                    width: 37px;
                    height: 37px;
                    margin: 0 auto;
                    background: transparent url('../img/how--device.png') no-repeat center center;

                    // Won't be shown by default
                    &:after {
                        display: none;
                        content: '';
                        @include pulseCircle(4em, 4em, $purple-light);
                    }
                }
            }

            // Device labels
            .label {
                display: block;
                font-size: 1.3rem;
                font-weight: bold;
                font-family: "jaf-domus-titling-web", sans-serif;
                white-space: nowrap;
                margin: 0.5em;
                text-align: center;
            }
        }
    }


    // Show the pulsing circles
    &.show-circles .how--head--wrap:after,
    &.show-circles .how--house--devices .img:after { display: block !important; }
}

#who {
    z-index: 4;
    padding: 8rem 0 16rem;

    .userIcon {}

    .usersWrapper {
        @extend .clearfix;
        margin-top: 6rem;

        .user--icon {
            max-width: 43%;
        }
        .user--title {
            font-size: 3.8rem;
            margin: 2rem 0 1rem;
        }
        .user--info {
            font-size: 2rem;
            line-height: 1.77em;
            font-weight: 600;
        }
    }
}

#footer {
    z-index: 5;
    padding: 10rem 0 16rem;

    position: relative;
    text-align: center;

    .stats {
        @extend .clearfix;

        padding: 0 4rem;
        margin: 3rem 0 8rem;

        text-align: center;
        color: $purple-light;

        .entry {
            margin: 4rem 0;

            .num {
                font-size: 9rem;
                font-weight: 800;
                margin-bottom: -.1em;
            }
            .label {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.8em;
            }

        }
    }

    .logo {
        display: inline-block;
        margin: 0 auto 64px;
        max-width: 15%;
    }
    .copy {
        font-size: 1.4rem;
        position: absolute;
        bottom: 0; right: 0;
        color: $gray;
        margin: 2.7rem;
    }
}


@media (max-width: 1500px) {
    html, body { font-size: 9px; }
    .centerColumn { max-width: 85%; }
    .section.purple:before { width: 95%; }
    #how .how--map {
        margin-top: 10rem;
        transform: scale(0.75);
    }
}

@media (max-width: 1200px) {
    .centerColumn { padding: 0 15px; }
    .centerColumn > .padded:first-child { padding-left: 0; }
    .centerColumn > .padded:last-child { padding-right: 0; }
    .section.purple:before { width: 100%; }

    //.col--narrow { width: 55%!important; }
    //.col--wide { width: 45%!important; }

    #pager { left: 0; }
}
