html, body {
    font-family: "myriad-pro", sans-serif;
    font-size: 10px;
}
.font-domus {
    font-family: "jaf-domus-titling-web", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }


p {
    font-size: 1.5rem;
    line-height: 2.22em;
    font-weight: 400;
    margin-top: 0;
}

.emphasis {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.77em;
}
